*.classpath
*.class
*.prefs
*.project
report.xml
report.xml
report.xml
report_example.xml
*.class
*.class
results.txt
report_example.xml
*.class
*.class
WebApp/target/classes/com/HTML5/ParserComparer/model/Report.class
WebApp/target/classes/com/HTML5/ParserComparer/controller/ReportController.class
*.class
*.classpath